<?xml version="1.0"?>
<launch>
  <node name="motion_generator" pkg="gsplines_follow_trajectory" type="random_minimum_jerk_motions" respawn="false" output="screen">
    <param name="rate" value="0.4"/>
    <param name="control_step" value="0.01"/>
    <param name="number_of_waypoints" value="5"/>
    <param name="waypoint_radius" value="0.1"/>
    <param name="execution_time" value="4.5"/>
    <param name="action_ns" value="pos_joint_traj_controller"/>
  </node>
</launch>
